<!DOCTYPE html>
<html lang="en-US" ng-app="ToDoApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<title>To Do App by Priyanshu Tiwari</title>
</head>
<body>
	<h1>To-Do App</h1>
	<div ng-controller="toDoList" class="container mainDiv scrollbar force-overflow" id="style-6">
		<span class="count">Total Goals : {{todos.length}}</span>
		<ul>
			<li ng-repeat="todo in todos">
				<input type="checkbox" ng-model="todo.done">
				<span class="done-{{todo.done}}">{{todo.text}}</span>
			</li>
		</ul>
		<center>
		<form ng-submit="addToDo()" class="form-group">
			<input type="text" ng-model="toDoText"  class="form-control" size="30" placeholder="add new todo here"/>
			<input type="submit" value="add" class="form-control btn btn-success">
		</form></center>	
	</div>
	<script>
		var app = angular.module("ToDoApp",[]);
		app.controller('toDoList',function($scope){
			$scope.todos = [{
				text: "Learn Angular Js",
				done: true
			},
			{
				text: "Learn JavaScript",
				done: false	
			}];
			$scope.addToDo = function(){
				if($scope.toDotext!=''){
					$scope.todos.push({
						text : $scope.toDoText,
						done: false
					});
					$scope.toDoText = "";
				}
			};
		});
	</script>
</body>
</html>
